html, body {
  height: 100%;
  /* background-color: greenyellow; */
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul li{
  list-style: none;
}
.container  {
  /* max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px; */
  background-color:  goldenrod;
}
.content {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
}
.container > div {
  background-color: palegoldenrod;
}

td {
  padding: 8px 10px;
}

td:first-child {
  font-family: monospace;
}

h3 {
  margin-top: 100px;
}

h5 {
  margin-bottom: 0;
}

hr {
  margin-top: 2px;
}



.parent{
  height: 800px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.column {
  height: 100%;
}

.example-flex {
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}

.example-flex-reverse {
  flex-direction: row-reverse;
}


#one p {
  padding: 0;
}

.example-4, .example-5 {
  height: 400px;
}

.split p, .split-flex p {
  padding: 20px;
}

.split, .split-flex {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  overflow-y: auto;
  overflow-x: hidden;
}

.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('grips/vertical.png');
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  background-image: url('grips/horizontal.png');
  cursor: ns-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

.ui-state-hover {
  background-color: aqua;
}

.wrap {
  display: flex;
  justify-content: space-between;
  position: relative
}
.sidebar {
  flex: 0 0 180px;
  background-color: #293c55;
}

.main {
  flex: 1 1 0;
}

#left-chart-nav {
  padding-top: 51px;
  position: fixed;
  width: 180px;
  /* overflow-y: hidden; */
}

#left-chart-nav li {
  margin-bottom: 0;
  height: 54px;
  width: 100%;
  padding: 10px 0 10px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#left-chart-nav li:hover {
  background-color: forestgreen;
}

#left-chart-nav li a {
  color: #ccc;
  position: relative;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a {
  background-color: transparent;
}

#left-chart-nav li a .chart-icon {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(./images/chart-icon.png);
  background-size: 32px;
  background-repeat: no-repeat;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #999;
}
#left-chart-nav-line .chart-icon {
  background-position-x: -1px;
  background-position-y: -1px;
}
#left-chart-nav-bar .chart-icon {
  background-position-x: -1px;
  background-position-y: -33px;
}
#left-chart-nav li a .chart-name {
  display: inline-block;
  position: relative;
  top: -12px;
  margin-left: 10px;
}

#left-chart-nav-pie .chart-icon {
  background-position-x: -1px;
  background-position-y: -129px;
}