<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>数据视图</title>
  <script src="./node_modules/lodash/lodash.min.js"></script>
  <script src="./node_modules/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="./lib/jquery-ui-1.12.1.custom/jquery-ui.min.css">
  <script src="./lib/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="node_modules/vuetify/dist/vuetify.min.css">
  <link rel="stylesheet" href="node_modules/prismjs/themes/prism-coy.css">
  <script src="./node_modules/vue/dist/vue.js"></script>
  
  <script src="node_modules/vue-echarts/dist/vue-echarts.js"></script>
  
  <script src="node_modules/split.js/split.min.js"></script>
  <script src="node_modules/vuetify/dist/vuetify.min.js"></script>
  <script src="node_modules/prismjs/prism.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/github.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
  
  <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
  <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
  <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
  <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
  <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
  <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
  <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
  <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>


  <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
  <div id="app" class="wrap">
    <!-- <aside class="sidebar">
        <div id="left-chart-nav">
          <ul>
            <li data-type='type' class="active">
              <a class="left-chart-nav-link" id="left-chart-nav-line" href="#chart-type-line">
                <div class="chart-icon"></div>
                <div class="chart-name">Line</div>
              </a>
            </li>
            <li data-type='type' class="">
              <a class="left-chart-nav-link" id="left-chart-nav-bar" href="#chart-type-bar">
                <div class="chart-icon"></div>
                <div class="chart-name">Bar</div>
              </a>
            </li>
            <li data-type='type' class="">
              <a class="left-chart-nav-link" id="left-chart-nav-pie" href="#chart-type-pie">
                <div class="chart-icon"></div>
                <div class="chart-name">Pie</div>
              </a>
            </li>
          </ul>
      
      </div>
    </aside> -->
    <div class="main">
      <!-- {{options}} -->
      <header class="header"><h1>标题</h1></header>
      <div class="parent">
        <div id="one" class="split split-horizontal">
          <div id="a" class="split split-vertical draggable">
            <!-- <draggable :option='positionMap[0]'> -->
              <chart ref='1-1' :data-position='0'  @click="onclick"  ref="test" auto-resize v-show='positionMap[0]' :options='positionMap[0]'></chart>
            <!-- </draggable> -->
          </div>
          <div id="b" class="split split-vertical draggable">
            <chart ref='1-2' :data-position='1'  auto-resize v-show='positionMap[1]' :options='positionMap[1]'></chart>
          </div>
          <!-- <div id="c" class="split split-vertical draggable">
            <chart auto-resize v-show='positionMap[2]' :options='positionMap[2]'></chart>
          </div> -->
        </div>
        <div id="two" class="split split-horizontal">
          <div id="d"  class="split split-vertical">
            <!-- <chart auto-resize v-show='positionMap[3]' :options='positionMap[3]'></chart> -->
          </div>
          <!-- <div id="e" class="split split-vertical draggable">
            <chart auto-resize v-show='positionMap[4]' :options='positionMap[4]'></chart>
          </div> -->
          <!-- <div id="f" class="split split-vertical draggable">
            <chart auto-resize v-show='positionMap[5]' :options='positionMap[5]'></chart>
          </div> -->
        </div>
        <div id="three" class="split split-horizontal">
          <!-- <p>#three</p> -->
          <div id="g" class="split split-vertical draggable">
            <chart :data-position='6' auto-resize v-show='positionMap[6]' :options='positionMap[6]'></chart>
          </div>
          <div id="h" class="split split-vertical draggable">
            <chart :data-position='7' auto-resize v-show='positionMap[7]' :options='positionMap[7]'></chart>
          </div>
          <!-- <div id="i" class="split split-vertical draggable">
            <chart auto-resize v-show='positionMap[8]' :options='positionMap[8]'></chart>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!--
    <div>
      <div draggable="true">fefefef</div>
      <v-bottom-sheet v-model='dialog'>
          <v-btn slot="activator" color="red" dark>Show player</v-btn>
          <v-card>
            {{gridId}}
              <v-card-title>
                配置窗口
              </v-card-title>
              <v-card-text>
                <v-layout row wrap align-baseline>
                  <v-flex xs2>
                    <label>视图名称:</label>
                  </v-flex>
                  <v-flex xs10>
                    <v-text-field
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row wrap align-center>
                  <v-flex xs2>
                    <label for="">json格式:</label>
                  </v-flex>
                  <v-flex xs10>
                    <code-snippet :code='code'></code-snippet>
                  </v-flex>
                </v-layout>
                <v-layout row wrap align-center>
                  <v-flex xs2>
                    <label>数据源:</label>
                  </v-flex>
                  <v-flex xs10>
                      <v-btn :class="{'link-active': currentLink == i}" @click='currentLink = i' v-for='(link, i) in links'>{{link.text}}</v-btn>
                  </v-flex>
                </v-layout>
              </v-card-text>
              <v-card-actions>
                <v-btn color="primary" flat @click="dialog=false">关闭</v-btn>
                <v-btn color="primary" flat @click="save();dialog=false">保存</v-btn>
              </v-card-actions>
            </v-card>
      </v-bottom-sheet>
    
    </div>
  -->
</body>
<script type="text/x-template" id='code'>
  <pre><code class="language-json">{{code}}</code></pre>
</script>
<script type="text/x-template" id="draggable">
  <div draggable='true' class='chart-wrap'>
  <slot></slot>
  </div>
</script>
<script src="./lib/js/chineseMap.js"></script>
<script src="./lib/js/options.js"></script>
<script src="./lib/js/util.js"></script>
<script src="./lib/js/main.js"></script>
<script src="./lib/js/index.js"></script>
</html>